/* === Colors and shit === */
$main_width: 1020px;


$black: #000000;
$white: #FFFFFF;
$purple: #261C1F;

$grey: #d0d0d0;

$tenant_blue: #32ebfb;
$tenant_black: #000000;
$tenant_bggrey: #131313;
$tenant_grey: #1F1F1F;

$bg_event_detail: #050505;
$event_overlay: #d24dff;

$dark_purple: #0F0B0C;
$light_blue: #5CACC1;

$ribbon_green: #8a9b0f;
$ribbon_yellow: #f8af00;
$ribbon_red: #d53f4d;
$ribbon_purple: #d24dff;
$ribbon_blue: #5cacc1;
$ribbon_black: #1e1e1e;

$title_green: #8a9b0f;
$title_yellow: #f8af00;
$title_red: #d53f4d;
$title_purple: #d24dff;
$title_blue: #5cacc1;
$title_orange: #f86f00;
$title_black: #0d0d0d;

$theme_green: #8a9b0f;
$theme_yellow: #f8af00;
$theme_red: #d53f4d;
$theme_purple: #d24dff;
$theme_blue: #5cacc1;
$theme_orange: #f86f00;
$theme_black: #1e1e1e;



$helvetica: "HelveticaNeue", Helvetica, Arial, sans-serif;
$museo: "museo-sans", Helvetica, Arial, sans-serif;
$arial: Arial, sans-serif;

/* === Helpers and ish === */

.f8 { font-size: 8px; }
.f9 { font-size: 9px; }
.f10 { font-size: 10px; }
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.blocky { display: block; }
.underline { text-decoration: underline; }
.fblue { color: $light_blue; }
.fyellow { color: $title_yellow; }

h2 {
  padding: 4px 5px;
  color: $white;
  font-size: 20px;
  font-weight: normal;
  display: inline;
  background: $black;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  
  &.underline {
    text-decoration: underline;
  }
  
  &.link-yellow {
    color: $theme_yellow;
     
    &:hover {
      
    }
  }
  
  &.link-blue {
    color: $theme_blue;
    
    &:hover {
      
    }
  }
}

span.title {
  padding: 3px 5px;
  color: $white;
  font-size: 43px;
  font-weight: 100;
  font-family: $museo;
  
  &.green { background: $title_green; }
  &.yellow { background: $title_yellow; }
  &.red { background: $title_red; }
  &.purple { background: $title_purple; }
  &.blue { background: $title_blue; }
  &.orange { background: $title_orange; }
  &.black { background: $title_black; }
}

p.title {
  &.green { background: $title_green; }
  &.yellow { background: $title_yellow; }
  &.red { background: $title_red; }
  &.purple { background: $title_purple; }
  &.blue { background: $title_blue; }
  &.orange { background: $title_orange; }
  &.black { background: $title_black; }
}

ul {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* === Layout === */

html, body {
  height: 100%;
//   overflow-y: auto;
}

html { overflow: hidden; }
body { overflow: auto; }

body {
  width: 100%;
//   min-width: $main_width;
  background: url("/images/bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#bg-gradient {
  width: 100%;
  min-width: $main_width;
  height: 285px;
  position: absolute;
  top: 330px;
  background: url("/images/bg_gradient.png") repeat-x;
  z-index: 2;
}

#minsize {
  width: 100%;
  min-width: $main_width;
  position: relative;
  
  #bg-solid {
    width: 100%;
    position: absolute;
    top: 615px;
    right: 0;
    bottom: 0;
    left: 0;
    background: $purple;
    z-index: 5;
  }
}
  
#content-wrapper {
  width: $main_width;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -255px; // not sure why this wont match
  position: relative;
  z-index: 300;
}

#header {
  color: $white;
  width: $main_width;
  
  #logo {
    padding: 35px 0 0 31px;
    position: relative;
    float: left;
  }
  
  #navigation {
    margin: 44px 0 0 40px;
    float: left;
    
    ul {
      margin-right: 12px;
      float: left;
      
      li {
        margin-bottom: 10px;
        list-style: none;
        
        a, a:hover, a:active, a:visited {
          padding: 0px 4px 2px 4px;
          color: $white;
          font-size: 14px;
          font-weight: bold;
          font-family: $helvetica;
          text-decoration: none;
          background: $black;
        }
      }
    }
  }
  
  #social {
    margin: 45px 20px 0 0;
    float: right;
    
    .social-icons {
      height: 30px;
      clear: both;
      
      .icon {
        padding-right: 10px;
        float: left;
      }
    }
    
    .contact {
      float: left;
      
      p {
        margin: 0;
        padding-right: 20px;
        font-family: $helvetica;
        
        &.office {
          font-size: 14px;
          line-height: 14px;
        }
        &.phone-number {
          font-size: 26px;
          font-weight: bold;
          line-height: 26px;
        }
      }  
    }
  }
}

.content {
  padding: 55px 30px 40px 30px;
  outline: 1px solid red;
  
  .content-left {
    float: left;
    color: $white;
  
    &.home {
      width: 380px;
      padding: 185px 10px 0 10px;
    }
    &.our-properties {
      width: 960px;
    }
    &.our-properties-detail {
      width: 580px;
      padding: 0 3px;
    }
    &.about {
      width: 590px;
      padding: 0 10px;
    }
    &.film-here {
      width: 600px;
      padding: 0 3px;
    }
  
    span {
      &.title { 
//         font-size: 43px;
      }
    }
    
    p.body {
      padding: 15px 5px;
      font-size: 19px;
      font-family: $helvetica;
    }
  }
}

//   individual properties
.property-detail {
  
  span.title {
    margin: 0 7px;
    font-size: 28px;
    font-weight: bold;
    font-family: $helvetica;
  }
  
  ul {
    padding: 15px 5px;
    li {
      margin-left: 15px;
      font-size: 19px;
      font-family: $helvetica;
      list-style-image: url('/images/list_bullet.png');
    }
  }
  

}

.properties-list {
  margin-top: 40px;
  
  ul {
    li {
      height: 150px;
      list-style: none;
      position: relative;
      padding: 5px 0 10px 5px;
      outline: 1px solid green;
      float: left;

      .project-background {
        padding-left: 5px;
        z-index: 100;
        position: relative;
        top: 0; left: 0;
      }

      .project-foreground {
        vertical-align: top;
        z-index: 200;
        position: absolute;
        top: 90px;
        left: 0;

        .ribbon-end {
          float: left;
          margin-right: -2px;
        }

        .ribbon {
          height: 40px;
          padding: 0 10px;
          float: left;
          color: $white;
          font-size: 24px;
          font-weight: 300;
          font-family: $museo;
          line-height: 40px;
          vertical-align: middle;
          position: relative;
          top: 14px; left: 0;

          &.green { background: $ribbon_green; }
          &.yellow { background: $ribbon_yellow; }
          &.red { background: $ribbon_red; }
          &.purple { background: $ribbon_purple; }
          &.blue { background: $ribbon_blue; }
          &.black { background: $ribbon_black; }
        }
      } 
    }
  }
}

.events-list {
  margin-top: 30px;
  &.first {
    margin-top: 55px;
  }
  
  span.title {
    font-size: 28px;
    font-weight: bold;
    font-family: $helvetica;
  }
    
  ul {
    li {
      padding: 25px 22px 25px 0;
      display: inline-block;
      float: left;
    
      .event-container {
        width: 217px;
        position: relative;

        .event-image {
          width: 217px;
          height: 150px;
          position: relative;
          top: 0; left: 0;
          overflow: hidden;
        }

        .event-image-overlay {
          display: none;
          width: 217px;
          height: 150px;
          color: $white;
          font-size: 66px;
          font-weight: 100;
          font-family: $museo;
          text-align: center;
          line-height: 150px;
          vertical-align: middle;
          position: absolute;
          top: 0; left: 0;
          overflow: hidden;
        }

        .event-detail {
          background: $bg_event_detail;
          
          .event-detail-date {
            width: 50px;
            height: 60px;
            padding: 12px 0 0 15px;
            color: $white;
            float: left;
            
            p {
              &.event-detail-date-day {
                font-size: 35px;
                line-height: 35px;
              }  
              &.event-detail-date-month {
                font-size: 22px;
                line-height: 16px;
              }
            }
          }
          
          .event-detail-description {
            width: 150px;
            padding-top: 13px;
            padding-bottom: 13px;
            float: left;
          
            p.event-detail-title {
              color: $theme_purple;
              font-size: 16px;
              font-weight: bold;
              font-family: $helvetica;
                            
              &.past {
                color: $theme_yellow;
              }
            }
          
            span {
              color: $white;
              font-size: 11px;
              font-family: $helvetica;
            }
          }
        }
        
        &.upcoming { //hover effect on upcoming events only
          &:hover, &.active {

            .event-image-overlay {
              display: block;
              background: rgba(210, 77, 255, .76); //$event_overlay
            }

            .event-detail {
              background: $white;
            
              .event-detail-date {
                color: $theme_purple;
              }
            
              span {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}

.avatar {
  ul {
    li {
      display: inline-block;
      margin-right: 17px;
      
      .avatar-image {}
      .avatar-name {
        color: $title_purple;
        font-size: 16px;
        font-weight: 700;
        font-family: $museo;
      }
      .avatar-desc {
        color: $white;        
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
        font-family: $museo;
      }
    }
  }
}

.bottom {
  clear: both;

  .bottom-schedule-a-viewing {
    width: 280px;
    height: 240px;
    color: $white;
    font-size: 24px;
    font-weight: 500;
    font-family: $museo;
    text-align: center;
    line-height: 240px;
    vertical-align: middle;
    background: $theme_yellow;
    float: left;
  }
  .bottom-property-map {
    width: 398px;
    height: 240px;
    background: $white;
    float: left;
  }
  .bottom-social-buttons {
    text-align: left;
    float: left;
    
    a {
      text-decoration: none;
    }
    
    .button {
      width: 200px;
      height: 30px;
      padding: 10px 0 3px 40px;
      color: $white;
      font-size: 11px;
      font-family: Arial, sans-serif;
      outline: 1px solid red;
      
      &.facebook { background: url('/images/button_facebook.png') no-repeat; }
      &.twitter { background: url('/images/button_twitter.png') no-repeat; }
      &.yelp { background: url('/images/button_yelp.png') no-repeat; }
    }
  }
  
  .bottom-box {
    width: 300px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    float: left;
    outline: 1px solid yellow;
    
    a {
      text-decoration: none;
    }
    
    .bottom-box-square {
      width: 280px;
      height: 240px;
      color: $white;
      
      &.green { background: $theme_green; }
      &.yellow { background: $theme_yellow; }
      &.red { background: $theme_red; }
      &.purple { background: $theme_purple; }
      &.blue { background: $theme_blue; }
      &.orange { background: $theme_orange; }      
      &.black { background: $theme_black; }
    }
    
    .bottom-box-button {
      width: 280px;
      height: 82px;
      color: $white;
      
      &.green { background: $theme_green; }
      &.yellow { background: $theme_yellow; }
      &.red { background: $theme_red; }
      &.purple { background: $theme_purple; }
      &.blue { background: $theme_blue; }
      &.orange { background: $theme_orange; }
      &.black { background: $theme_black; }
    }
    
    p.bottom-box-body {
      color: $white;
      font-size: 16px;
      text-align: left;
    }
  }
}


.projects-list {
  padding: 0 20px;
  float: left;
  
  span.title {
    font-size: 21px;
    margin: 0 0 0 5px;
  }
  
  ul {
    padding-top: 2px;
    li {
      list-style: none;
      position: relative;
      padding: 1px 0 0 5px;
      
      .project-background {
        position: relative;
        top: 0; left: 0;
        z-index: 100;
      }
      
      .project-foreground {
        position: absolute;
        top: 70px;
        left: 0;
        vertical-align: top;
        z-index: 200;
        
        .ribbon-end {
          float: left;
          margin-right: -2px;
        }
        
        .ribbon {
          height: 24px;
          padding: 0 5px;
          color: $white;
          font-size: 15px;
          font-weight: 300;
          font-family: $museo;
          line-height: 24px;
          vertical-align: middle;
          position: relative;
          top: 8px; left: 0;
          float: left;
          
          &.green { background: $ribbon_green; }
          &.yellow { background: $ribbon_yellow; }
          &.red { background: $ribbon_red; }
          &.purple { background: $ribbon_purple; }
          &.blue { background: $ribbon_blue; }
          &.black { background: $ribbon_black; }
        }
      } 
    }
  }
}

.status-feed {
  padding: 0;
  float: right;
  
  span.title {
    font-size: 21px;
    margin-left: 15px;
  }
  
  ul {
    li {
      list-style: none;
      width: 185px; //238
      height: 66px; //104
      padding: 23px 20px 10px 33px;
      font-size: 12px;
      line-height: 20px;

      &.twitter {
        background: url("/images/bg_social_tw.png");      
      }
      &.facebook {
        background: url("/images/bg_social_fb.png");      
      }
    }    
  }
  
  .social-buttons {
    color: $white;
    
    p.are-you {
      padding: 10px 15px;
    }
    
    .social-icons {
      margin-left: 5px;
    
      img {
        margin-left: 10px;
        float: left;
      }
    }
  }
}

.press-list {
  
  ul {
    margin-top: 55px;
    li {
      list-style: none;
      width: 517px;
      margin-bottom: 18px;
      padding: 30px;
      background: $black;
      
      .pressitem-date {
        width: 50px;
        height: 60px;
        color: $theme_blue;
        float: left;
        
        p {
          &.pressitem-date-day {
            font-size: 35px;
            line-height: 35px;
          }  
          &.pressitem-date-month {
            font-size: 22px;
            line-height: 16px;
          }
        }
      }
      
      .pressitem-title {
        width: 465px;
        font-size: 22px;
        font-weight: 700;
        font-family: $museo;
        float: left;
      }
      
      .pressitem-line {
        width: 480px;
        height: 22px; //above bar
        margin: 0 auto 25px auto; //below bar
        border-bottom: 1px solid white;
        clear: both;
        opacity: .7;
      }
      
      .pressitem-body {
        font-size: 12px;
        font-family: $helvetica;
        line-height: 200%;
        clear: both;
        
        span.pressitem-location {
          font-weight: bold;
        }
      }


    }    
  }
}

.schedule-a-viewing {
  
  span.title {
    &.tiny {
      font-size: 15px;
    }
  }
  
  p.title {
    font-size: 23px;
    font-weight: 300;
    font-family: $museo;
  }
  
  .schedule-form {
    width: 520px;
    font-size: 19px;
    font-family: $helvetica;
    
    .group-info {
      input {
        width: 250px;
        
        &:nth-child(even) {
          margin-left: 5px;
        }
        &:nth-child(odd) {
          margin-right: 10px;
        }
      }
    }
    
    .group-contact {
      text-align: center;
    }
    
    .group-criteria {
      select {
        width: 250px;
        
        &:nth-child(even) {
          margin-left: 5px;
        }
        &:nth-child(odd) {
          margin-right: 10px;
        }
      }
    }
    
    .group-hear {
      text-align: left;
      input {
        margin-left: 70px;
      }
      clear: both;
    }
    
    .group-who {
      input {
        width: 100%;
      }
    }
    
    .group-textarea {
      textarea {
        width: 100%;
      }
    }
      
    
    p {
      text-align: center;
    }
  
    .line {
      width: 520px;
      height: 20px; //above line
      margin-top: 20px; //below line
      border-top: 1px solid rgba(255, 255, 255, .38);
    }
  }
}

#push, #footer {
  height: 255px;
  clear: both;
}
  
#footer {
  width: 100%;
  min-width: $main_width;
  background: $dark_purple;
  position: relative;
  z-index: 10;
  
  .footer-wrap {
    width: 100%;
    background: $dark_purple;
    position: relative;
    z-index: 1000;
    
    .footer {
      width: $main_width;
      margin: 0 auto;
      padding: 37px 0 0 0;
      color: $white;
      font-family: $helvetica;
      line-height: 120%;
    
      .footer-column {
        width: 30%;
        padding: 0 10px;
        float: left;
      
        &:first-child { margin-left: 30px; }
        &:last-child { margin-right: 30px; }
      }
    
      .footer-row {
        width: 100%;
        padding-top: 53px;
        text-align: center;
        clear: both;
      }
    }
  }
      
  #tenant-links {
    position: absolute;
    top: -33px;
//     top: -157px;
    left: 40px;
    z-index: 20;

    .tenant-title {
      width: 120px;
      height: 34px;
      padding: 0 2px;
      color: $white;
      font-size: 20px;
      font-family: $museo;
      text-align: center;
      line-height: 34px;
      vertical-align: middle;
      background: url('/images/bg_tenant.jpg') repeat-x;
    }

    ul {

      li {
        list-style: none;
        width: 218px;
        height: 37px;
        padding: 0 0 0 15px;
        background: $tenant_bggrey;
        outline: 1px solid $tenant_black;
        border-top: 2px solid $tenant_grey;
        &:first-child { border-top: 1px solid $tenant_grey; }
        border-bottom: 2px solid $tenant_grey;
        border-left: 1px solid $tenant_grey;
        border-right: 1px solid $tenant_grey;
        cursor: hand;
        
        a {
          color: $grey;
          font-size: 15px;
          font-weight: bold;
          font-family: $arial;
          line-height: 37px;
          vertical-align: middle;
        }
        
        &:hover {
          background: $tenant_black;
          a {
            color: $tenant_blue;
          }
        }
      }
    }
  }

  #hypelife {
    height: 28px;
    vertical-align: middle;
    position: absolute;
    top: -32px;
    right: 0;
    z-index: 9998;
    text-transform: uppercase;
    font-size: 10px;
  }

  #hypelife:hover #popup {
    display: block;
  }

  #hypelife #popup {
    color: #fff;
    position: absolute;
    top: -97px;
    left: -130px;
    width: 174px;
    height: 78px;
    padding: 20px 0 0 0;
    background: url('/images/credits.png');
    text-align: center;
    display: none;
  }

  #hypelife #popup a {
    color: #fff;
  }    
}







.carousel {
  width: 600px;
  height: 280px;
  margin-bottom: 20px;
  background: url('/images/bg_carousel.png') no-repeat;
  position: relative;

  .carousel-images {
    position: relative;
    top: 14px;
    left: 8px;
  }

  #prev-slide {
    position: absolute;
    top: 120px;
    left: 20px;
  }
  #next-slide {
    position: absolute;
    top: 120px;
    right: 20px;
  }
  
  .carousel-title {
    position: absolute;
    left: 8px;
    bottom: 13px;
    
    span.title {
      &.yellow { background: rgba(248, 175, 0, .77); }
      &.black { background: rgba(0, 0, 0, .77); }
      // others
    }
  }
}

.films {
  margin-top: 50px;


}

.clients {
  width: 310px;
  padding: 120px 20px;
  float: left;

  span.title {
    font-size: 28px;
    font-weight: bold;
    font-family: $helvetica;
  }

  ul {
    margin-top: 20px;
    
    li {
      padding: 10px;
      list-style: none;
      float: left;
      
      img {
        width: 100px;
      }
    }
  }
}