/* === Colors and shit === */

$black: #000000;
$white: #FFFFFF;
$purple: #261C1F;

$grey: #d0d0d0;

$tenant_blue: #32ebfb;
$tenant_black: #000000;
$tenant_bggrey: #131313;
$tenant_grey: #1F1F1F;

$bg_event_detail: #050505;
$event_overlay: #d24dff;

$dark_purple: #0F0B0C;
$light_blue: #5CACC1;

$ribbon_green: #8a9b0f;
$ribbon_yellow: #f8af00;
$ribbon_red: #d53f4d;
$ribbon_purple: #d24dff;
$ribbon_blue: #5cacc1;
$ribbon_black: #1e1e1e;

$title_green: #8a9b0f;
$title_yellow: #f8af00;
$title_red: #d53f4d;
$title_purple: #d24dff;
$title_blue: #5cacc1;
$title_black: #0d0d0d;

$theme_green: #8a9b0f;
$theme_yellow: #f8af00;
$theme_red: #d53f4d;
$theme_purple: #d24dff;
$theme_blue: #5cacc1;
$theme_black: #1e1e1e;
$theme_orange: #f86f00;


$helvetica: "HelveticaNeue", Helvetica, Arial, sans-serif;
$museo: "museo-sans", Helvetica, Arial, sans-serif;
$arial: Arial, sans-serif;

/* === Helpers and ish === */

.f8 { font-size: 8px; }
.f9 { font-size: 9px; }
.f10 { font-size: 10px; }
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.blocky { display: block; }
.underline { text-decoration: underline; }
.fblue { color: $light_blue; }
.fyellow { color: $title_yellow; }

h2 {
  padding: 4px 5px;
  color: $white;
  font-size: 20px;
  font-weight: normal;
  display: inline;
  background: $black;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  
  &.underline {
    text-decoration: underline;
  }
  
  &.link-yellow {
    color: $theme_yellow;
     
    &:hover {
      
    }
  }
  
  &.link-blue {
    color: $theme_blue;
    
    &:hover {
      
    }
  }
}

span.title {
  &.green { background: $theme_green; }
  &.yellow { background: $theme_yellow; }
  &.red { background: $theme_red; }
  &.purple { background: $theme_purple; }
  &.blue { background: $theme_blue; }
  &.orange { background: $theme_orange; }
  &.black { background: $theme_black; }}

p.title {
  &.green { background: $theme_green; }
  &.yellow { background: $theme_yellow; }
  &.red { background: $theme_red; }
  &.purple { background: $theme_purple; }
  &.blue { background: $theme_blue; }
  &.orange { background: $theme_orange; }
  &.black { background: $theme_black; }
}

ul {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

/* === Layout === */

html, body {
  height: 100%;
  overflow-y: auto;
}

body {
  width: 100%;
  min-width: 960px;
  background: $purple;
}

#content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -255px; // not sure why this wont match
}

#header {
  color: $white;
  
  #logo {
    padding: 35px 0 0 31px;
    position: relative;
    float: left;
  }
  
  #navigation {
    margin: 44px 0 0 40px;
    float: left;
    
    ul {
      margin-right: 12px;
      float: left;
      
      li {
        margin-bottom: 10px;
        list-style: none;
        
        a, a:hover, a:active, a:visited {
          padding: 0px 4px 2px 4px;
          color: $white;
          font-size: 14px;
          font-weight: bold;
          font-family: $helvetica;
          text-decoration: none;
          background: $black;
        }
      }
    }
  }
  
  #social {
    margin: 45px 20px 0 0;
    float: right;
    
    .social-icons {
      height: 30px;
      clear: both;
      
      .icon {
        padding-right: 10px;
        float: left;
      }
    }
    
    .contact {
      float: left;
      
      p {
        margin: 0;
        padding-right: 20px;
        font-family: $helvetica;
        
        &.office {
          font-size: 14px;
          line-height: 14px;
        }
        &.phone-number {
          font-size: 26px;
          font-weight: bold;
          line-height: 26px;
        }
      }  
    }
  }
}

.content-left {
  width: 600px;
  float: left;
  color: $white;
  
  span {
    &.title {
      font-size: 43px;
      background: $title_black;
      
      &.green { background: $title_green; }
      &.yellow { background: $title_yellow; }
      &.red { background: $title_red; }
      &.purple { background: $title_purple; }
      &.blue { background: $title_blue; }
    }
    
    &.body {
      font-size: 19px;
      font-family: $helvetica;
    }
  }
  
  p {
    &.green { background: $theme_green; }
    &.yellow { background: $theme_yellow; }
    &.red { background: $theme_red; }
    &.purple { background: $theme_purple; }
    &.blue { background: $theme_blue; }
    &.orange { background: $theme_orange; }
    &.black { background: $black; }
  }
  
  ul li {
    list-style-image: url('/images/list_bullet.png');
  }
  
  .properties-list {
    float: left;

    h2 {
      display: inline;
  //     outline: 1px solid red;
      margin: 0 0 0 44px;
    }  

    ul {
      margin: 5px 0;
      li {
        position: relative;
        padding: 5px 0 10px 5px;
        list-style-type: none;
  //       outline: 1px solid green;

        .project-background {
          position: relative;
          top: 0; left: 0;
          padding-left: 5px;
  //         outline: 1px solid blue;
          z-index: 100;
        }

        .project-foreground {
          position: absolute;
          top: 90px;
          left: 0;
          vertical-align: top;
          z-index: 200;

          .ribbon-end {
            float: left;
            margin-right: -2px;
          }

          .ribbon {
            position: relative;
            top: 14px; left: 0;
  //           width: 200px;

            height: 40px;
            padding: 0 10px;
            float: left;
            color: $white;
            font-size: 24px;

            &.green { background: $ribbon_green; }
            &.yellow { background: $ribbon_yellow; }
            &.red { background: $ribbon_red; }
            &.purple { background: $ribbon_purple; }
            &.blue { background: $ribbon_blue; }
            &.black { background: $ribbon_black; }
          }
        } 
      }
    }
  }
  
  //   individual properties
  .property-carousel {
    width: 600px;
    height: 280px;
    background: url('/images/bg_carousel.png') no-repeat;
    border: 5px solid yellow;
    position: relative;
    
    .property-carousel-images {
      position: relative;
      top: 14px;
      left: 8px;
    }
    
    .property-carousel-controls {
      position: absolute;
      top: 0; left: 0;
      span.property-carousel-title {
        font-size: 43px;
        
        &.yellow { background: rgba(248, 175, 0, .77); }
        &.black { background: rgba(0, 0, 0, .77); }
//         &.orange { background: rgba(248, 175, 0, .77); }
        
      }
    }
    

  }
  

}

.events-list {
  p {
    clear: both;
  }
  
  ul {
    li {
      display: inline-block;
      float: left;
    
      .event-container {
        width: 217px;
        position: relative;

        .event-image {
          width: 217px;
          height: 150px;
          position: relative;
          top: 0; left: 0;
          overflow: hidden;
        }

        .event-image-overlay {
          display: none;
          width: 217px;
          height: 150px;
          position: absolute;
          top: 0; left: 0;
          overflow: hidden;
//           background: $event_overlay;
//           opacity: .76;
        }

        .event-detail {
          background: $bg_event_detail;
          
          .event-detail-date {
            width: 50px;
            height: 60px;
            color: $white;
            float: left;
          }
          
          .event-detail-description {
            width: 167px;
            float: left;
          
            p.event-detail-title {
              color: $theme_purple;
            }
          
            span {
              color: $white;
            }
          }
        }
        
        &:hover, &.active {

          .event-image-overlay {
            display: block;
            background: $event_overlay;
            opacity: .76;
          }

          .event-detail {
            background: $white;
            
            .event-detail-date {
              color: $theme_purple;
            }
            
            span {
              color: $black;
            }
          }
        }
      }
    }
  }
}

.avatar {
  ul {
    li {
      display: inline-block;
      outline: 3px solid orange;
      
      .avatar-image {}
      .avatar-name {
        margin: 0; padding: 0;
        font-size: 16px;
        color: $title_purple;
      }
      .avatar-desc {
        margin: 0; padding: 0;
        font-size: 12px;
        color: $white;
      }
    }
  }
}

.bottom {
  clear: both;
//   color: $white;

//   z-index: 9999;

  
  .bottom-schedule-a-viewing {
    width: 280px;
    height: 240px;
    color: $white;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    background: $ribbon_yellow;
    float: left;
  }
  .bottom-property-map {
    width: 398px;
    height: 240px;
    background: $white;
    float: left;
  }
  .bottom-social-buttons {
    text-align: left;
    float: left;
    
    a {
      text-decoration: none;
    }
    
    .button {
      width: 200px;
      height: 30px;
      padding: 10px 0 3px 40px;
      color: $white;
      font-size: 11px;
      font-family: Arial, sans-serif;
      outline: 1px solid red;
      
      &.facebook { background: url('/images/button_facebook.png') no-repeat; }
      &.twitter { background: url('/images/button_twitter.png') no-repeat; }
      &.yelp { background: url('/images/button_yelp.png') no-repeat; }
    }
  }
  
  .bottom-box {
    width: 300px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    float: left;
    outline: 1px solid yellow;
    
    a {
      text-decoration: none;
    }
    
    .bottom-box-square {
      width: 280px;
      height: 240px;
      color: $white;
      
      &.green { background: $theme_green; }
      &.yellow { background: $theme_yellow; }
      &.red { background: $theme_red; }
      &.purple { background: $theme_purple; }
      &.blue { background: $theme_blue; }
      &.orange { background: $theme_orange; }      
      &.black { background: $theme_black; }
    }
    
    .bottom-box-button {
      width: 280px;
      height: 82px;
      color: $white;
      
      &.green { background: $theme_green; }
      &.yellow { background: $theme_yellow; }
      &.red { background: $theme_red; }
      &.purple { background: $theme_purple; }
      &.blue { background: $theme_blue; }
      &.orange { background: $theme_orange; }
      &.black { background: $theme_black; }
    }
    
    p.bottom-box-body {
      color: $white;
      font-size: 16px;
      text-align: left;
    }
  }
}


.projects-list {
  float: left;
  
  h2 {
    display: inline;
//     outline: 1px solid red;
    margin: 0 0 0 44px;
  }  
  
  ul {
    margin: 5px 0;
    li {
      position: relative;
      padding: 5px 0 10px 5px;
      list-style-type: none;
//       outline: 1px solid green;
      
      .project-background {
        position: relative;
        top: 0; left: 0;
//         outline: 1px solid blue;
        z-index: 100;
      }
      
      .project-foreground {
        position: absolute;
        top: 70px;
        left: 0;
        vertical-align: top;
        z-index: 200;
        
        .ribbon-end {
          float: left;
          margin-right: -2px;
        }
        
        .ribbon {
          position: relative;
          top: 8px; left: 0;
//           width: 200px;

          height: 24px;
          padding: 0 10px;
          float: left;
          color: $white;
          font-size: 15px;
          
          &.green { background: $ribbon_green; }
          &.yellow { background: $ribbon_yellow; }
          &.red { background: $ribbon_red; }
          &.purple { background: $ribbon_purple; }
          &.blue { background: $ribbon_blue; }
          &.black { background: $ribbon_black; }
        }
      } 
    }
  }
}

.status-feed {
  float: left;
  font-size: 12px;
  
  h2 {
    display: inline;
//     outline: 1px solid red;
    margin: 0 0 0 54px;
  }
  
  ul {
    margin: 0 5px;
    li {
      width: 185px; //238
      height: 74px; //104
      //outline: 1px solid orange;
      padding: 15px 20px 15px 33px;
      list-style-type: none;

      &.twitter {
        background: url("/images/bg_social_tw.png");      
      }
      &.facebook {
        background: url("/images/bg_social_fb.png");      
      }
    }    
  }
  
  .social-buttons {
    color: $white;
    
    img {
      float: left;
    }
  }
}

.press-list {
  
  ul {
    margin: 0;
    padding: 0;
    
    li {
      width: 577px;
      list-style: none;
      background: $black;
      outline: 1px solid red;
      
      .pressitem-date {
        color: $theme_blue;
        float: left;
      }
      
      .pressitem-title {
        font-size: 22px;
        float: left;
      }
      
      .pressitem-line {
        width: 500px;
        height: 0;
        margin: 0 auto;
        border-top: 1px solid white;
        clear: both;
      }
      
      
      .pressitem-body {
        clear: both;
        
        span.pressitem-location {
          font-weight: bold;
        }
      }


    }    
  }
}

.schedule-form {
  width: 520px;
  
  p {
    text-align: center;
  }
  
  .line {
    width: 520px;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, .38);
  }
}

#push, #footer {
  height: 255px;
  clear: both;
}
  
#footer {
  width: 100%;
  background: $dark_purple;
  position: relative;
  
  .footer {
    padding: 37px 0 0 0;
    color: $white;
    font-family: $helvetica;
    line-height: 120%;
    background: $dark_purple;
    position: relative;
    z-index: 1000;
    
    .footer-column {
      width: 30%;
      padding: 0 10px;
      float: left;
      
      &:first-child { margin-left: 30px; }
      &:last-child { margin-right: 30px; }
    }
    
    .footer-row {
      width: 100%;
      padding-top: 53px;
      text-align: center;
      clear: both;
    }
  }
      
  #tenant-links {
    position: absolute;
    top: -33px;
//     top: -157px;
    left: 40px;
    z-index: 20;

    .tenant-title {
      width: 120px;
      height: 34px;
      padding: 0 2px;
      color: $white;
      font-size: 20px;
      font-family: $museo;
      text-align: center;
      line-height: 34px;
      vertical-align: middle;
      background: url('/images/bg_tenant.jpg') repeat-x;
    }

    ul {

      li {
        list-style: none;
        width: 218px;
        height: 37px;
        padding: 0 0 0 15px;
        background: $tenant_bggrey;
        outline: 1px solid $tenant_black;
        border-top: 2px solid $tenant_grey;
        &:first-child { border-top: 1px solid $tenant_grey; }
        border-bottom: 2px solid $tenant_grey;
        border-left: 1px solid $tenant_grey;
        border-right: 1px solid $tenant_grey;
        cursor: hand;
        
        a {
          color: $grey;
          font-size: 15px;
          font-weight: bold;
          font-family: $arial;
          line-height: 37px;
          vertical-align: middle;
        }
        
        &:hover {
          background: $tenant_black;
          a {
            color: $tenant_blue;
          }
        }
      }
    }
  }

  #hypelife {
    height: 28px;
    vertical-align: middle;
    position: absolute;
    top: -32px;
    right: 0;
    z-index: 9998;
    text-transform: uppercase;
    font-size: 10px;
  }

  #hypelife:hover #popup {
    display: block;
  }

  #hypelife #popup {
    color: #fff;
    position: absolute;
    top: -97px;
    left: -130px;
    width: 174px;
    height: 78px;
    padding: 20px 0 0 0;
    background: url('/images/credits.png');
    text-align: center;
    display: none;
  }

  #hypelife #popup a {
    color: #fff;
  }    
}







