.clients
  %span.title.black
    Past Clients

  %ul
    %li
      %img{src: "/images/logo_food.png", alt: "Food Network"}
    %li
      %img{src: "/images/logo_syfy.png", alt: "SyFy Network"}
    %li
      %img{src: "/images/logo_guild.png", alt: "The Guild"}
    %li
      %img{src: "/images/logo_audi.png", alt: "Audi"}