#footer
  %table
    %tr
      %td
        %span.f16 LEASING OFFICE
        %br
        %span.f13 2664 Lacy Street
        %br
        %span.f13 Los Angeles, CA 90031
        %a{href: '#'}
          %strong.f11 GET SOME LINK HERE
        %br
        %span.f13 
          Phone: 
          %span.underline 323.441.8694
      %td
        %span.f16 HOURS &amp; APPOINTMENTS
        %br
        %span.f13 Open 9am to 6pm Monday - Friday. Weekend appointments available when scheduled in advance.
      %td
        %span.f16 PEOPLE DIG US
        %br
        %span.f13 "Super awesome quote from tenant goes here."
        %br
        %span.f13 - Bob S., Seeley Studios tenant
    %tr
      %td{:colspan => 3}
        %span.f11 &copy; 2012 Live Work Loft. All rights reserved. In other words, stealing is very uncool.
        %br
        %span.f9 Branding Development by Hypelife Brands (Los Angeles | Kansas City | NYC)
        