#footer
  #hypelife
    %a{href: "http://www.hypelifebrands.com/", target: "_blank"}
      %img{src: "/images/hypelife_logo.jpg", alt: "Hypelife Brands"}
      #popup
        Branding Development
        %br
        By HypeLife Brands
        %br
        Learn More at
        %br
        hypelifebrands.com
  
  #tenant-links
    .tenant-title
      For Tenants
    %ul
      %li
        %a{href: '#'}
          Got a Leak?
      %li
        %a{href: '/FAQ.html'}
          Frequently Asked Questions
      %li
        %a{href: '#'}
          Got a Question?
  .footer-wrap
    .footer
      .footer-column
        %p.f16 LEASING OFFICE
        %p.f13 2664 Lacy Street
        %p.f13 
          Los Angeles, CA 90031&nbsp;&nbsp;
          %a.link-yellow{href: 'https://maps.google.com/maps?q=2664+Lacy+Street,+Los+Angeles,+CA+90031&hl=en&sll=37.269174,-119.306607&sspn=13.223431,16.040039&hnear=2664+Lacy+St,+Los+Angeles,+California+90031&t=m&z=17', target: "_blank"}
            %strong.f11 GET DIRECTIONS
        %p.f13 Phone: 323.441.8694
      .footer-column
        %p.f16 HOURS &amp; APPOINTMENTS
        %span.f13 Open 9am to 6pm Monday - Friday. Weekend appointments available when scheduled in advance.
      .footer-column
        %p.f16 PEOPLE DIG US
        %span.f13 "Super awesome quote from tenant goes here."
        %p.f13 - Bob S., Seeley Studios tenant
      .footer-row
        %p.f11 &copy; 2012 Live Work Loft. All rights reserved. In other words, stealing is very uncool.
        %strong.f9 Branding Development by Hypelife Brands (Los Angeles | Kansas City | NYC)