#footer
  %table
    %tr
      %td
        LEASING OFFICE
        %br
        2664 Lacy Street
        %br
        Los Angeles, CA 90031
        %br
        Phone: 
        %span.underline 323.441.8694
      %td
        HOURS &amp; APPOINTMENTS
        %br
        %span Open 9am to 6pm Monday - Friday. Weekend appointments available when scheduled in advance.
      %td
        PEOPLE DIG US
        %br
        %span "Super awesome quote from tenant goes here."
        %br
        %span - Bob S., Seeley Studios tenant
    %tr
      %td{:colspan => 3}
        %span &copy; 2012 Live Work Loft. All rights reserved. In other words, stealing is very uncool.
        %span Branding Development by Hypelife Brands (Los Angeles | Kansas City | NYC)
        