#header.clearfix
  #logo
    %a{href: "/"}
      %img{src: "/images/logo.png", alt: "Live Work Lofts"}
  #navigation
    %ul
      %li 
        %a{href: "/about.html"} About.
      %li 
        %a{href: "/our-properties.html"} Our Properties.
    %ul
      %li 
        %a{href: "/events.html"} Events.
      %li 
        %a{href: "/film-here.html"} Film Here.
    %ul
      %li 
        %a{href: "/press-room.html"} Press Room.
      %li 
        %a{href: "/schedule-a-viewing.html"} Schedule a Viewing.    
  #social
    .social-icons
      #fb-root
      .icon
        .fb-like{'data-href' => "http://www.facebook.com/liveworkloft", "data-send" => "false", "data-layout" => "button_count", "data-width" => "450", "data-show-faces" => "false" }
      .icon
        %a{:href => "https://twitter.com/liveworkloft", :class => "twitter-follow-button", "data-show-count" => "false", "data-show-screen-name" => "false"}Follow @liveworkloft
      .icon
        %a{href: '#'}
          %img{src: "/images/sb_youtube.png"}
      .icon
        %a{href: '#'}
          %img{src: "/images/sb_pinterest.png"}
      .icon
        %a{href: '#'}
          %img{src: "/images/sb_instagram.png"}
    .contact
      %p.office LEASING OFFICE
      %p.phone-number 323.441.8694
    .contact
      %p.office MAINTENANCE
      %p.phone-number 323.441.8694