.status-feed
  %h2 We're Social.

  %ul
    %li.twitter 
      Be sure to check out some of the 
      new properties that we just listed! 
      \#hashtag
    %li.facebook 
      Be sure to check out some of the 
      new properties that we just listed! 
      bit.ly
    %li.twitter
      Be sure to check out some of the 
      new properties that we just listed! 
      \#hashtag
    %li.facebook 
      Be sure to check out some of the 
      new properties that we just listed! 
      bit.ly
    %li.twitter 
      Be sure to check out some of the 
      new properties that we just listed! 
      \#hashtag
  
  .social-buttons
    %p.f16 ARE YOU?
    %a{href: "http://www.facebook.com/liveworkloft", target: "_blank"}
      %img{src: "/images/social_facebook.png", alt: "Connect with us on Facebook!"}
    %a{href: "https://twitter.com/liveworkloft", target: "_blank"}
      %img{src: "/images/social_twitter.png", alt: "Follow us on Twitter!"}
    %a{href: "#"}      
      %img{src: "/images/social_youtube.png", alt: "Watch us on YouTube!"}
    %a{href: "#"}
      %img{src: "/images/social_pinterest.png", alt: "Connect with us on Pinterest!"}
    %a{href: "#"}      
      %img{src: "/images/social_instagram.png", alt: "Connect with us on Instgram!"}
  
  