.content.clearfix
  .content-left
    %span.title
      Events
    
    .events-list    
      %p
        %span.title.purple
          Upcoming.
      %ul
        %li
          .event-container
            .event-image
              %img{src: "/images/upcoming_placeholder.jpg", alt: "Upcoming Event 1"}
            .event-image-overlay
              RSVP
            .event-detail.clearfix
              .event-detail-date
                08
                %br
                nov
              .event-detail-description
                %p.event-detail-title
                  LOFT PARTY
                %span
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              
        %li
          .event-container.active
            .event-image
              %img{src: "/images/upcoming_placeholder.jpg", alt: "Upcoming Event 1"}
            .event-image-overlay
              RSVP
            .event-detail.clearfix
              .event-detail-date
                08
                %br
                nov
              .event-detail-description
                %p.event-detail-title
                  LOFT PARTY
                %span
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.

              
    .events-list
      %p
        %span.title.yellow
          Past.