.content.clearfix
  .content-left
    %span.title
      Frequently Asked Questions
      
    %p
      %span.title.purple
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu es feugiat elit sollicitudin ac?
    %p
      %span.body
        Cras vel consequat lacus. Sed semper mauris eu mauris rutrum et aliquet sem ultricies. Nam eget tellus neque. Nullam euismod orci sapien. Pellentesque viverra dapibus nulla, sed consectetur justo lacinia in. Nunc congue felis a nisi tempus eleifend.

    %p
      %span.title.blue
        Lorem ipsum dolor sit amet, consectetur?
    %p
      %span.body
        Cras vel consequat lacus. Sed semper mauris eu mauris rutrum et aliquet sem ultricies. Nam eget tellus neque. Nullam euismod orci sapien. Pellentesque viverra dapibus nulla, sed consectetur.
    
    %p
      %span.title.purple
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu es feugiat elit sollicitudin ac?
    %p
      %span.body
        Cras vel consequat lacus. Sed semper mauris eu mauris rutrum et aliquet sem ultricies. Nam eget tellus neque. Nullam euismod orci sapien. Pellentesque viverra dapibus nulla, sed consectetur justo lacinia in. Nunc congue felis a nisi tempus eleifend. Cras vel consequat lacus. Sed semper mauris eu mauris rutrum et aliquet sem ultricies. Nam eget tellus neque.
    
    %p
      %span.title.blue
        Lorem ipsum dolor sit amet, consectetur?
    %p
      %span.body
        Cras vel consequat lacus. Sed semper mauris eu mauris rutrum et aliquet sem ultricies. Nam eget tellus neque. Nullam euismod orci sapien. Pellentesque viverra dapibus nulla, sed consectetur.