.content.clearfix
  .content-left
    %span.title
      Film Here
      
    .property-carousel
      .property-carousel-images
        %img{src: "/images/properties/filmhere01.jpg"}
      .property-carousel-controls
        %img#prev-slide{src: '/images/slider_left.png', alt: 'Previous Slide'}
        %img#next-slide{src: '/images/slider_right.png', alt: 'Next Slide'}
        
    %p
      %span.body
        Duis at lacus est, sed rhoncus risus. Maecenas ornare urna dolor, vitae luctus ligula. Sed blandit purus tempus diam tincidunt a vehicula velit pretium. Suspendisse vitae sapien ipsum. Nulla tortor enim, pulvinar quis vestibulum in, laoreet at est. Curabitur convallis dolor eget dui ornare pretium ut lacinia eros. Mauris eu dolor at nibh bibendum auctor.
    %p
      %span.body
        In addition to our live/work loft spaces, we also have several other
        %a.link-yellow{href: '#'} retail and warehouse locations 
        available for filming and photo shoots.
    %p
      %span.body
        Call one of our leasing agents for rats and more information at 323.441.8694, or email us at 
        %a.link-yellow.secure{href: '#'} film@liveworkloft.net.
        
  = partial "shared/clients"

  