.content.clearfix
  .content-left
    %span.title
      Spaces that 
      %span.fblue
        inspire.
    %span.body
      Live Work Loft is dedicated to delivering 
      %span.fblue.underline top notch creative spaces
      in Los Angeles to the thought leaders of the world. We aim 
      for the unique; anything that is comparable 
      to the status quo is unacceptable.


  = partial "shared/projects"
  = partial "shared/status_feed"